<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edison.dao.extend.BlogExtMapper">
  <resultMap id="BaseResultMap" type="com.edison.entity.Blog">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, name, author_id
  </sql>
  <select id="selectByAuthorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog
    where author_id = #{authorId,jdbcType=INTEGER}
  </select>

    <select id="selectByBean" parameterType="Blog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog
        where bid=#{bid}
    </select>

    <!--FOREACH中item对应的变量代表值，index对应的变量是下标或者map的key-->
    <select id="selectByBidList" parameterType="ArrayList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog   where bid IN
        <foreach item="value" index="ind" collection="list"
                 open="(" separator="," close=")">
            #{value}
        </foreach>
    </select>

    <select id="selectByBidMap" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog   where bid IN
            <foreach item="value" index="key" collection="bids"
                     open="(" separator="," close=")">
                #{value}
            </foreach>
        and author_id IN
            <foreach item="value" index="key" collection="authorIds"
                     open="(" separator="," close=")">
                 #{value}
            </foreach>
    </select>

    <select id="selectByBidNmMap" parameterType="Qry" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog   where bid IN
        <foreach item="value" index="key" collection="intList"
                 open="(" separator="," close=")">
            #{value}
        </foreach>
        and name IN
        <foreach item="value" index="key" collection="stringList"
                 open="(" separator="," close=")">
            #{value}
        </foreach>
    </select>
</mapper>