<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dataSource.properties"/>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!--别名，为了避免Cause: org.apache.ibatis.type.TypeException: Could not resolve type alias 'Blog'.
       这样可以在mapper.xml中直接使用parameterType="Blog"-->
    <typeAliases>
        <package name="com.edison.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/edison/mapper/BlogMapper.xml"/>
        <mapper resource="com/edison/mapper/AuthorMapper.xml"/>
        <mapper resource="com/edison/mapper/CommentMapper.xml"/>
        <mapper resource="com/edison/mapper/TblDeptMapper.xml"/>
        <mapper resource="com/edison/mapper/TblEmpMapper.xml"/>
        <mapper resource="com/edison/mapper/extend/BlogExtMapper.xml"/>
    </mappers>
</configuration>